extends layout

block content
  div(id="fileDiv")
    input(type="file" accept=".json" id="files" name="files[]" ) 
    a.btn-md(id="saveBtn" onclick="saveGraph(this)") 
      button.btn-md.btn-primary
        i.fa.fa-floppy-o  Save
    a.btn-md(id="loadBtn" onclick="loadGraph()") 
      button.btn-md.btn-primary
        i.fa.fa-folder-open-o  Load  
    a.btn-md(id="clearBtn" onclick="clearGraph()") 
      button.btn-md.btn-danger
        i.fa.fa-trash  Clear
    
  div(id="mainBody" ng-controller="SimController")
    h1= title
      |  
      button.btn-md.btn-success(id="simBtn")
        i.fa.fa-play 
      | 
      button.btn-md.btn-warning(id="resetBtn")
        i.fa.fa-ban
      span(id="stepBtn")
        //-button.btn-md.btn-primary(id="stepBackward")
          i.fa.fa-step-backward 
        //-| 
        button.btn-md.btn-primary(id="stepForward")
          i.fa.fa-step-forward 
        | 
        span Time step: 
          span(id="currTimeStep") 0

      p(id="zoomBtn")
          button.btn-sm(id="zoomOutBtn") -   
          | 
          button.btn-sm(id="zoomInBtn") +   

    div(id="main")
      script(src='/javascripts/additional-gates.js')
      script(src='/javascripts/helper.js')
      div(id="left-col")
        script(src='/javascripts/left-pane.js')
      div(id="right-col")
        script(src='/javascripts/right-pane.js')
