extends layout

block content
  div(ng-controller="SimController")
    h1= title
      |  
      button.btn-md.btn-success(id="simBtn")
        i.fa.fa-play 
      | 
      button.btn-md.btn-warning(id="resetBtn")
        i.fa.fa-ban
      span(id="stepBtn")
        //-button.btn-md.btn-primary(id="stepBackward")
          i.fa.fa-step-backward 
        //-| 
        button.btn-md.btn-primary(id="stepForward")
          i.fa.fa-step-forward 
        | 
        span Time step: 
          span(id="currTimeStep") 0

      p(id="zoomBtn")
          button.btn-xs(id="zoomOutBtn") -   
          | 
          button.btn-xs(id="zoomInBtn") +   

    div(id="main")
      script(src='/javascripts/additional-gates.js')
      script(src='/javascripts/helper.js')
      div(id="left-col")
          script(src='/javascripts/left-pane.js')
      div(id="right-col")
        div(id="paper")
          script(src='/javascripts/right-pane.js')
