body {
    padding: 50px;
    padding-top: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#mainBody {
    margin-top: -2ex;
}

#main {
    width: 100%;
    height: 814px;
}

#left-col {
    border: solid 1px black;
    height: 96%;
    width: 20%;
    float: left;
    overflow: scroll;
}

#right-col {
    margin-left: 20%;
    width: 80%;
    height: 96%;
    overflow: scroll;
    border: solid 1px black;
}

a {
    color: #00B7FF;
}

#loadBtn {
    margin-left: 1ex;
}

#clearBtn {
    margin-left: 1ex;
}

#files {
    margin-bottom: 1ex;
}

a#loadBtn {
    color: inherit;
}

a#saveBtn {
    color: inherit;
}

#zoomBtn {
    float: right;
}

#stepBtn {
    visibility: hidden;
    margin-left: 1ex;
}

#resetBtn {
    visibility: hidden;
}
#currTimeStep {
    color: red;
}
