body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
    width: 100%;
    height: 814px;
}

#left-col {
    border: solid 1px black;
    height: 100%;
    width: 20%;
    float: left;
}

#right-col {
    margin-left: 20%;
    width: 80%;
    border: solid 1px black;
}

#paper {
    border: solid 1px black;
}

a {
    color: #00B7FF;
}

#zoomBtn {
    float: right;
}

#stepBtn {
    visibility: hidden;
}

#currTimeStep {
    color: red;
}
